<?xml version="1.0"?>

<launch>
  <include file="$(find kr_50_r2500_pybullet)/launch/load_robot_config.launch">
    <arg name="robot_name" value="kuka"/>
  </include>

  <include file="$(find nj_220_2_7_pybullet)/launch/load_robot_config.launch">
    <arg name="robot_name" value="comau"/>
  </include>

  <arg name="prefix" default=""/>
  <arg name="robot_name" default="kr_50_r2500"/>

  <rosparam command="load" file="$(find kr_50_r2500_pybullet)/config/kr_50_r2500_params.yaml" subst_value="true"/>
</launch>
