<?xml version="1.0"?>
<robot name="battery_cell" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <link name="world"/>

  <xacro:include filename="$(find kuka_structure_description)/urdf/kuka_structure.xacro" />
  <xacro:property name="kuka_structure_prefix" value="'structure_'" />
  <xacro:kuka_structure prefix="${kuka_structure_prefix}"/>

  <joint name="world_to_kuka_structure" type="fixed">
      <origin
        xyz="1 1 0"
        rpy="0 0 0" />
      <parent link="world"/>
      <child link="${kuka_structure_prefix}base_link"/>
  </joint>

  <xacro:include filename="$(find kr_50_r2500_description)/urdf/kr_50_r2500.xacro" />
  <xacro:property name="kr_prefix" value="'kr_'" />
  <xacro:kr_50_r2500 prefix="${kr_prefix}"/>

  <joint name="kuka_structure_to_kr_50_r2500" type="fixed">
      <origin
        xyz="0.333 -0.035 0.325"
        rpy="0 ${pi/2} 0" />
      <parent link="${kuka_structure_prefix}link_1"/>
      <child link="${kr_prefix}base_link"/>
  </joint>

  <xacro:include filename="$(find parallel_2f_gripper)/urdf/gripper.xacro" />
  <xacro:gripper prefix="${kr_prefix}"/>

  <joint name="${kr_prefix}gripper_joint" type="fixed">
    <origin xyz="0 0 0.018" rpy="0 0 0"/>
    <parent link="${kr_prefix}flange" />
    <child link="${kr_prefix}gripper_base" />
  </joint>

  <xacro:include filename="$(find nj_220_2_7_description)/urdf/nj_220_2_7.xacro" />
  <xacro:property name="nj_prefix" value="'nj_'" />

  <xacro:nj_220_2_7 prefix="${nj_prefix}"/>
  <joint name="world_to_nj_220_2_7" type="fixed">
      <origin
        xyz="-2 -2 0"
        rpy="0 0 0" />
      <parent link="world"/>
      <child link="${nj_prefix}base_link"/>
  </joint>

  <xacro:include filename="$(find battery_cell_description)/urdf/battery_table.xacro" />
  <xacro:property name="table_prefix" value="'table_'" />

  <xacro:battery_table prefix="${table_prefix}"/>
  <joint name="world_to_table" type="fixed">
      <origin
        xyz="1 -1 0"
        rpy="0 0 0" />
      <parent link="world"/>
      <child link="${table_prefix}base_link"/>
  </joint>

  <xacro:include filename="$(find mobile_manipulator_description)/urdf/mobile_manipulator.xacro" />
  <xacro:property name="omron_prefix" value="'omron_'" />

  <xacro:mobile_manipulator prefix="${omron_prefix}"/>
  <joint name="world_to_omron" type="fixed">
    <origin
      xyz="4.5 -3 0"
      rpy="0 0 0" />
    <parent link="world"/>
    <child link="${omron_prefix}base_link"/>
  </joint>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/gripper</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>
</robot>