<?xml version="1.0"?>

<launch>
  <arg name="pipeline" default="ompl"/>
  <arg name="use_rviz" default="true" />
  <arg name="type" default="robot"/>


  <include file="$(find battery_cell_configurations)/launch/start.launch">
    <arg name="type" value="$(arg type)"/>
    <arg name="pipeline" value="$(arg pipeline)"/>
    <arg name="use_rviz" value="$(arg use_rviz)"/>
  </include>

  <!-- Start hardware interface for rsi communication -->
  <rosparam command="load" file="$(find battery_cell_configurations)/config/local_ip.yaml"/>
  <rosparam command="load" file="$(find battery_cell_configurations)/config/rsi_controller_joint_names.yaml"/>
  <rosparam command="load" file="$(find battery_cell_configurations)/config/rsi_hardware_controllers.yaml"/>
  <node name="kuka_hardware_interface" pkg="kuka_rsi_hw_interface"
    type="kuka_hardware_interface_node" respawn="false"
    output="screen"
    required="true"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint_state_controller
                          open_loop_position_controller_1
                          open_loop_position_controller_2
                          open_loop_position_controller_3
                          open_loop_position_controller_4
                          open_loop_position_controller_5
                          open_loop_position_controller_6"/>
</launch>

