<?xml version="1.0"?>

<launch>
  <arg name="pipeline" default="ompl"/>
  <arg name="use_rviz" default="true" />
  <arg name="type" default="fake"/>
  <arg name="run_moveit" default="true"/>
  <arg name="run_control" default="true"/>
  <arg name="run_skills_servers" default="true"/>

  <node unless="$(eval type == 'robot')" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <param name="rate" value="500"/>
    <rosparam param="/source_list">[/kuka/joint_states]</rosparam>
  </node>

  <include if="$(arg run_control)" file="$(find battery_cell_configurations)/launch/robot_control.launch">
    <arg name="type" value="$(arg type)"/>
  </include>

  <include if="$(arg run_moveit)" file="$(find battery_cell_configurations)/launch/moveit.launch">
    <arg name="use_rviz" value="$(arg use_rviz)"/>
    <arg name="pipeline" value="$(arg pipeline)"/>
  </include>

</launch>
